/* Modificación navbar */
html {
    scroll-behavior: smooth;
}
.navbar-brand svg {
    width: 130px;
}

.bg-yellow {
    background-color: #f5b63e;
}

ul.ks-cboxtags li label {
    white-space: normal;
}

b, strong {
    font-weight: 600;
}

label a, label a:visited {
    color: #0792E0;
}

label a:hover, label a:focus {
    border-bottom: 1px solid #0792E0;
    color: #0792E0;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label a{
    color: #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}

.navbar-dark .navbar-text {
    color: #fff;
    font-weight: 100;
    font-size: 12px;
}