/* Modificación navbar */
html {
    scroll-behavior: smooth;
}
.navbar-brand svg {
    width: 130px;
}

.bg-yellow {
    background-color: #f5b63e;
}

ul.ks-cboxtags li label {
    white-space: normal;
}